<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
		<title>Modificar cliente</title>
	</head>
	<body>
	<h1>Modificar cliente</h1>
		<form action="#" th:action="@{http://localhost:8080/app/clientes/modificar}" th:object="${clienteMod}" method="post">
		    <fieldset>
		        <legend>Datos del cliente a modificar</legend>
		        <table class="table_form">
		            <tr>
		                <td class="td_form"><label>Nombre: </label></td>
		                <td class="td_form"><input type="text" id="nombre" name="nombre" th:value="${cliente.nombre}"/></td>
		                <td class="td_form"><input type="hidden" id="id" name="id" th:value="${cliente.id}"/></td>
		            </tr>
		            <tr>
		                <td class="td_form"><label>Apellido: </label></td>
		                <td class="td_form"><input type="text" id="apellido" name="apellido" th:value="${cliente.apellido}"/></td>
		            </tr>
		            <tr>
		                <td class="td_form"><label>Email: </label></td>
		                <td class="td_form"><input type="text" id="email" name="email" th:value="${cliente.email}"/></td>
		            </tr>
		            <tr>
		                <td class="td_form"><button type="submit">Modificar</button></td>
		                <td class="td_form"><a class="volver_button" th:href="@{http://localhost:8080/app/index}">Volver al index</a></td>
		            </tr>
		        </table>
		    </fieldset>
		</form>
	</body>
</html>