<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
		<title th:text="${titulo}"></title>
	</head>
	<body>
		<h2>Filtrar clientes</h2>
		<form action="http://localhost:8080/app/clientes_usuarios/listar" method="get">
			<label>Nombre: </label>
			<input type="text" name="nombre"/>
			<button class="submit_button" type="submit">Buscar</button>
		</form>
		<h2 th:text="${titulo}"></h2>
		<div th:if="${clientes.isEmpty()}">No hay clientes en la lista</div>
		<table class="table_lista" th:if="${not clientes.isEmpty()}">
			<thead>
				<tr>
					<th class="th_lista">NOMBRE</th>
					<th class="th_lista">APELLIDO</th>
					<th class="th_lista">EMAIL</th>
					<th class="th_lista">FECHA DE CREACIÓN</th>
					<th class="th_lista">USUARIO</th>
					<th class="th_lista">MAILS</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">
					<td class="td_lista" th:text="${cliente.nombre}"></td>
					<td class="td_lista" th:text="${cliente.apellido}"></td>
					<td class="td_lista" th:text="${cliente.email}"></td>
					<td class="td_lista" th:text="${cliente.createAt}"></td>
					<td class="td_lista" th:if="${cliente.usuario==null}">Sin usuario</td>
					<td class="td_lista" th:unless="${cliente.usuario==null}" th:text="${cliente.usuario.name}"></td>
					<td class="td_lista" th:if="${cliente.usuario != null}">
						<p th:if="${not cliente.usuario.mails.isEmpty()}" th:each="mail: ${cliente.usuario.mails}" th:text="${mail.mail}"></p>
					</td>
					<td class="td_lista" th:if="${cliente.usuario == null}">Sin emails</td>
				</tr>
			</tbody>
		</table>
		<br/>
		<a class="volver_button" th:href="@{http://localhost:8080/app/index}">Volver al index</a>
	</body>
</html>