<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
		<title th:text="${titulo}"></title>
	</head>
	<body>
		<h1 th:text="${titulo}"></h1>
		<div th:if="${compras.isEmpty()}">No hay compras en la lista</div>
		<table class="table_lista" th:if="${not compras.isEmpty()}">
			<thead>
				<tr>
					<th class="th_lista">FECHA COMPRA</th>
					<th class="th_lista">CLIENTE</th>
					<th class="th_lista">PRODUCTO</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="compra: ${compras}">
					<td class="td_lista" th:text="${compra.id.fechaCompra}"></td>
					<td class="td_lista" th:text="${compra.cliente.nombre}"></td>
					<td class="td_lista" th:text="${compra.producto.descripcion}"></td>
					<td class="td_lista"><a th:href="@{http://localhost:8080/app/productos_clientes/modificar/} 
						+ ${compra.id.fechaCompra} + '/' + ${compra.id.idCliente} + '/' + ${compra.id.codProducto}">Modificar</a></td>
					<td class="td_lista"><a th:href="@{http://localhost:8080/app/productos_clientes/eliminar/} 
						+ ${compra.id.fechaCompra} + '/' + ${compra.id.idCliente} + '/' + ${compra.id.codProducto}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
		<br/>
		<a class="add_button" th:href="@{/app/productos_clientes/crear}">Añadir compra</a>
		<a class="volver_button" th:href="@{http://localhost:8080/app/index}">Volver al index</a>
	</body>
</html>