<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
		<title>Modificar compra</title>
	</head>
	<body>
	<h1>Modificar compra</h1>
		<form action="#" th:action="@{http://localhost:8080/app/compras/modificar}" th:object="${compraMod}" method="post">
		    <fieldset>
		        <legend>Datos de la compra a modificar</legend>
		        <table class="table_form">
		            <tr>
		                <td class="td_form"><label>Fecha: </label></td>
		                <td class="td_form"><input type="date" id="fechaCompra" name="fechaCompra" th:value="${compra.id.fechaCompra}"/></td>
		            </tr>
		            <tr>
		                <td class="td_form"><label>Producto: </label></td>
		                <td class="td_form">
		                	<select th:field="*{id.codProducto}">
		                		<option data-th-each="producto : ${productos}" th:value="${producto.codproducto}"
		                		 	id="producto" name="producto"
		                			th:text="${producto.descripcion + ' (' + producto.precio + '€)'}"></option>
                			</select>
               			</td>
		            </tr>
		            <tr>
		                <td class="td_form"><label>Cliente: </label></td>
		                <td class="td_form">
		                	<select th:field="*{id.idCliente}">
		                		<option data-th-each="cliente : ${clientes}" th:value="${cliente.id}"
		                			id="cliente" name="cliente"
		                			th:text="${cliente.nombre + ' ' + cliente.apellido}"></option>
                			</select>
	                	</td>
		            </tr>
		            <tr>
		                <td class="td_form"><button type="submit">Modificar</button></td>
		                <td class="td_form"><a class="volver_button" th:href="@{http://localhost:8080/app/index}">Volver al index</a></td>
		            </tr>
		        </table>
		    </fieldset>
		</form>
	</body>
</html>