<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
		<title>Modificar producto</title>
	</head>
	<body>
	<h1>Modificar producto</h1>
		<form action="#" th:action="@{http://localhost:8080/app/productos/modificar}" th:object="${productoMod}" method="post">
		    <fieldset>
		        <legend>Datos del producto a modificar</legend>
		        <table class="table_form">
		            <tr>
		                <td class="td_form"><label>Descripción: </label></td>
		                <td class="td_form"><input type="text" id="descripcion" name="descripcion" th:value="${producto.descripcion}"/></td>
		                <td class="td_form"><input type="hidden" id="codproducto" name="codproducto" th:value="${producto.codproducto}"/></td>
		            </tr>
		            <tr>
		                <td class="td_form"><label>Precio: </label></td>
		                <td class="td_form"><input type="number" min="0.01" step="0.01" id="precio" name="precio" th:value="${producto.precio}"/></td>
		            </tr>
		            <tr>
		                <td class="td_form"><label>Fecha: </label></td>
		                <td class="td_form"><input type="date" id="fechaAlta" name="fechaAlta" th:value="${producto.fechaAlta}"/></td>
		            </tr>
		            <tr>
		                <td class="td_form"><label>Disponible: </label></td>
		                <td class="td_form"><input type="checkbox" id="disponibilidad" name="disponibilidad" th:field="${producto.disponibilidad}"/></td>
		            </tr>
		            <tr>
		                <td class="td_form"><button type="submit">Modificar</button></td>
		                <td class="td_form"><a class="volver_button" th:href="@{http://localhost:8080/app/index}">Volver al index</a></td>
		            </tr>
		        </table>
		    </fieldset>
		</form>
	</body>
</html>